// ────────────── Input Configuration ──────────────

input {
    keyboard {
        xkb {
            layout "us" // Use the American keyboard layout
        }
        numlock // Enable numlock on startup
    }

    touchpad {
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
    }
    warp-mouse-to-focus // Automatically warp mouse to focused window
    focus-follows-mouse // Automatically focus windows under the mouse pointer
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}

gestures {
    hot-corners {
         off
        // top-left
        // top-right
        // bottom-left
        // bottom-right
    }
}
