// Corner radius and boarder geometry
window-rule {
        geometry-corner-radius 20
        clip-to-geometry true
    }



// Make inactive windows semitransparent and enable blur
window-rule {
    match is-active=false
    background-effect {
	    blur true
      xray false
	}

    opacity 0.80
}

// Enable noctalia in overview for static overview
layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }



    // Enable blur behind the kitty terminal.
window-rule {
    match app-id="^kitty$"
 
    background-effect {
        blur true
        xray false
    }
}


/*
  Noctalia
  Disable xray on all our surfaces so it looks more realistic.
  No need to set blur to 'true' here, it's automatic.
*/
layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel)$"
  background-effect {
    xray false
    //blur false
  }
}


// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia.Settings"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}
