// Corner radius and boarder geometry
window-rule {
        geometry-corner-radius 20
        clip-to-geometry true
        draw-border-with-background false
    }

// Make inactive windows semitransparent
window-rule {
    match is-active=false
    opacity 0.80
}

// Enable blur for all windows
window-rule {
    match app-id=".*"

    background-effect {
        blur true
        xray false
	    }
	}

// Enable noctalia in overview for static overview
layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }

// Floating Sushi  window.
window-rule {
  match app-id="^org.gnome.NautilusPreviewer$"
  open-floating true
}

// Floating Localsend  window.
window-rule {
  match app-id="^org.localsend.localsend_app$"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

// Floating Pavucontrol  window.
window-rule {
  match app-id="^org.pulseaudio.pavucontrol$"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

/*
  Noctalia
  Disable xray on all our surfaces so it looks more realistic.
  Noctalia publishes blur regions automatically when ext-background-effects is available.
*/
layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  background-effect {
    xray false
    // blur false
  }
}

// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}
